.members {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.member {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
}

.headingg {
  font-family: "Courier New", Courier, monospace;
}

.member-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.member-label {
  text-align: left;
  flex: 1;
}

.member-input input {
  text-align: right;
  flex: 1;
  max-width: 200px;
}
